{% extends "layout.html" %}
{% block title %}
About
{% endblock %}
{% block content %}
<h1>What is this about?</h1>
<hr/>
<p>'Sample' broadcasts scientific news articles in a variety of fields. The website separates articles into 5 domains of
    knowledge: Space, Nature, Physiology, Sociology and Crypto. If a user wants to digress into a specific knowledge domain,
    they can access article tags to further delve into an area of interest. The website aims to target our need to constantly
    pursue information in a social-media-world. However, instead of mindlessly scrolling through celebrity feeds or depressing
    influencers, users can entertain themselves with knowledge.
</p>
{% endblock %}