{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}

<div id="homeCarousel" class="carousel slide" data-bs-ride="true" style="width:100%; height:500px">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner" style="width:100%; height:500px; border-radius: 15px">
      <div class="carousel-item active">
        <img src="/static/images/space_carousel.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption" style="top: 0; bottom: auto;">
            <p style = "font-family: bison; font-weight: strong; font-size: 42px; text-align: center; padding-top: 100px"><mark style = "background-color: rgba(0,0,0,0); text-shadow: 1px 1px 2px rgb(0 0 0); color: white">"There is perhaps no better a demonstration of the folly of human conceits than this distant image of our tiny world."<br>—Carl Sagan</mark></p>
          </div>
      </div>
      <div class="carousel-item">
        <img src="/static/images/nature_carousel.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption" style="top: 0; bottom: auto;">
          <p style = "font-family: bison; font-weight: strong; font-size: 42px; text-align: center; padding-top: 100px"><mark style = "background-color: rgba(0,0,0,0); text-shadow: 1px 1px 2px rgb(0 0 0); color: white">"For most of history, man has had to fight nature to survive; in this century he is beginning to realize that, in order to survive, he must protect it."<br>—Jacques-Yves Cousteau</mark></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/images/physiology_carousel.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption" style="top: 0; bottom: auto;">
          <p style = "font-family: bison; font-weight: strong; font-size: 42px; text-align: center; padding-top: 100px"><mark style = "background-color: rgba(0,0,0,0); text-shadow: 1px 1px 2px rgb(0 0 0); color: white">“All human movement is expressive.”<br>―Alexandra Pierce</mark></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/images/sociology_carousel.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption" style="top: 0; bottom: auto;">
          <p style = "font-family: bison; font-weight: strong; font-size: 42px; text-align: center; padding-top: 100px"><mark style = "background-color: rgba(0,0,0,0); text-shadow: 1px 1px 2px rgb(0 0 0); color: white">"Neither the life of an individual nor the history of a society can be understood without understanding both."<br>—C. Wright Mills</mark></p>
        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <br>

  <div id="tab-container">
    <ul class="nav nav-tabs" id="myTab">
        <li class="nav-item">
            <a href="#tab1" onclick="reverse_tag(1)" class="nav-link active" data-bs-toggle="tab">Space</a>
        </li>
        <li class="nav-item">
            <a href="#tab2" onclick="reverse_tag(2)" class="nav-link" data-bs-toggle="tab">Nature</a>
        </li>
        <li class="nav-item">
            <a href="#tab3" onclick="reverse_tag(3)" class="nav-link" data-bs-toggle="tab">Physiology</a>
        </li>
          <li class="nav-item">
            <a href="#tab4" onclick="reverse_tag(4)" class="nav-link" data-bs-toggle="tab">Sociology</a>
          </li>
          <li class="nav-item">
            <a href="#tab5" class="nav-link" data-bs-toggle="tab">Crypto (TBA)</a>
        </li>
    </ul>
	
<div class="refresh-button">
                <a href="#tab1" class="refresh-button" onclick="load_content();" data-bs-toggle="tab" aria-selected="true" role="tab">
<i class="bi bi-arrow-clockwise"></i>
</a>
        </div>
    
    <br>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="tab1">
          <div id="tab1-box">
          </div>
        </div>
    </div>
    <div class="tab-content">
      <div class="tab-pane fade show" id="tab2">
        <div id="tab2-box">
        </div>
      </div>
    </div>
      <div class="tab-content">
        <div class="tab-pane fade show" id="tab3">
          <div id="tab3-box">
          </div>
        </div>
    </div>
    <div class="tab-content">
      <div class="tab-pane fade show" id="tab4">
        <div id="tab4-box">
        </div>
      </div>
  </div>
    <div class="tab-content">
      <div class="tab-pane fade show" id="tab5">
        <div id="tab5-box">
        </div>
      </div>
  </div>
</div>

<script type="text/html" id="article_template">
  <div class="flex-container-main clickable">
    <div class="flex-parent-container" onclick="window.location.href = '%URL%'">
      <div class="flex-container title-container">
          <h4 style="font-weight: strong; font-size: 32px; font-family: playfair display">%TITLE%</h4>
          <div class="tag-array">
				%TAGS%
          </div>
          <p style="font-family: lato; font-size: 18px">%DESC%</p>
          <div class="bottom">
            <p style="font-family: lato; font-size: 14px; color: rgb(88, 88, 88)">%AUTHOR%</p>
          </div>
      </div>
      <div class="flex-container image-container">
        <div class="flex-container">
          <img src="%IMGSRC%" class="article-image" alt="">
        </div>  
          <div class="flex-container-date">
            <p style="font-family: lato; font-size: 14px;"><i class="bi bi-clock"> </i>%DATE%</p>
          </div>
      </div>

  </div>
</div>
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

{% endblock %}
